*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    font-family: 'PT Serif', serif;
    font-size: 1.7em;
    font-weight: 700;
    line-height: 23px;
    padding: 30px 10px;
}
.text-cont h3{
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 6%;
    line-height: 34px;
}
.text-cont p{
    font-size: 0.9em;
    font-weight: 300;
    line-height: 27px;
    margin-left: 4%;
    padding-right: 20px;
}
img{
    height: 300px;
    object-fit: contain;
    padding: 20px 35px;
    display: block;
    margin-left: 16%;
    width: 70%;
    align-self: center;
}
figcaption{
    text-align: center;
}

@media(min-width:385px){
    .image-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 15px;
    }
    img{
        padding: 0;
        margin: 0;
        align-self: none;
        width: auto;
        display: initial;
    }
    figcaption{
        text-align: initial;
    }    
}